<div class="login-form container">
  <div class="form row session-row">
    <div class="logo">
      <%= image_tag 'header_logo.png' %>
    </div>
    <%= render 'form', user: @user %>
  </div>
  <div class="session-suggest row">
    <div class="col-xs-12">
      アカウントをお持ちでですか？
      <strong><%= link_to 'ログインする', new_session_path %></strong>
    </div>
  </div>
</div>
